.about {
  padding-top: 94px;

  .about__container {
    @include container;
  }

  .about__boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .about__boxes-icon {
    width: 270px;
  }

  .clabout__boxes-tittle {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 16px;
  }
}
