.header {
  width: 100%;

  .header__container {
    @include container;
    @include flex(center, space-between);
    background: $color-white;
    border-bottom: 1px solid #ececec;
    height: 80px;
  }
}

// Media query 480----------------------------

@include screen-480 {

  .header .header__container{
    flex-direction: row-reverse;
  }
}

// Media query 768----------------------------

@include screen-768
