.studio {
  @include flex(center, center, column);
  height: 600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgstudio.jpg);
  background-position: center;

  .studio__pptext {
    color: $color-white;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    width: 700px;
    text-align: center;
  }

  .studio__button {
    color: $color-white;
    background: $color-main;
    width: 200px;
    height: 50px;
    border-radius: 4px;
  }

  .studio__button:hover {
    background-color: $color-main-hover;
    width: 200px;
    height: 50px;
    left: 738px;
    top: 419px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }
}

@media 
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {

    .studio{
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bgstudio@2x.jpg);
    }

}

// Media query 480----------------------------

@include screen-480 {
  .studio {
    height: 400px;
    background-size: cover;

    .studio__pptext {
      width: 360px;
      font-size: 26px;
      line-height: 42px;
    }
  }
}

// Media query 768----------------------------

@include screen-768 {
  .studio {
    height: 400px;
    background-size: cover;

    .studio__pptext {
      width: 360px;
      font-size: 26px;
      line-height: 42px;
    }
  }
}
